<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mission9_zm275</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.css" integrity="sha512-PvqHJhhotDCbhn+7kfLEQeUcmrdWywRieVodtlA6rYfyuU9q8Y4mFe7IaQpO5DuGW20DLXewo6GVWc0rGCidQg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Book Store</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            
        </div>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
