<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        Book Store
    </div>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
